body{
    font-family: questrial;
    overflow-x: hidden;
    display: flex;
    width: 100%;
    background: #8fbcff;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    overflow: scroll;

}

.main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
input, textarea{
    text-align : center;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: NONE;   
    box-shadow: 2px 2px 2px rgb(138, 138, 138, 0.9);
}
.addQ{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.btnContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
    font-size: 15px;
}
#cardBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    background: rgba(255, 255, 255, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    font-size: 20px;
    margin: 10px;
}